a {
    color: #0024b5;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 400;
}

td 
{
    width: 120px;
}

table{
    margin-bottom: 0px;
}

div#submenu td
{
    border-top: 0px;
}

div#submenu
{
    margin-bottom: 20px;
}