/*h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.container {
  width: 80%;
  margin: 0 auto;
}

#nav {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
      
#nav ul {
  text-align: justify;
  min-width: 500px;
  padding: 0;
}
#nav ul:after {
  content: '';
  display: inline-block;
  width: 100%;
}
#nav ul li {
  display: inline-block;
}      
#nav ul li a {
  color: #0024b5;
  text-decoration: none;
}*/

table {
  table-layout: fixed;
}